<p>Hi {{ first_name }},</p>
<p>Thank you for getting in contact with us. We usually take about 2 business days to respond.</p>
<p>In the mean time, have a look at out blog: https://socialplaces.co.za/blog/</p>
<p>
    Regards,<br>
    The Team
</p>